<div class="wrapper">
  <mat-toolbar color="primary" class="header">
    <h1>༼ つ ◕_◕ ༽つ Praise Generator ༼ つ ◕_◕ ༽つ</h1>
  </mat-toolbar>
  <div class="content">
    <mat-form-field>
      <input matInput placeholder="Input thing you want to praise..." (input)="generatePraise($event)">
    </mat-form-field>
    <ng-container *ngIf="praise">
      <div>{{praise}}</div>
      <button mat-raised-button color="primary" (click)="copyPraise()">Copy to Clipboard!</button>
    </ng-container>
  </div>
</div>